* {
    box-sizing: border-box;
}

html {
    background-color: #00293D;
    background-image: url("backgroundImage.jpeg");
    background-attachment: local;
}

body {
    font-family: "Monserrat", sans-serif;
    list-style: 1.7;
}

h1 {
    font-size: 50px;
    letter-spacing: -5px;
    margin-top: 50px;
}

h2 {
    font-size: 30px;
    margin: 0;
    font-weight: 600;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #E14034;
    font-weight: bold;
}

blockquote {
    border-left: 5px solid #c6c314;
    padding-left: 10px;
    margin: 0;
    font-style: italic;
}

/*Main section*/

.container {
    max-width: 900px;
    margin: 0 auto;
}

.main-content {
    width: 60%;
    float: left;
    background-color: #fff;
    padding: 27px;
    margin-right: 10px;
    font-size: 14px;
}

.footer {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.sidebar {
    width: 35%;
    float: left;
    background-color: white;
    padding: 27px;
    font-size: 14px;
    border-left: 3px solid #BBB;
    border-bottom: 3px solid #BBB;
}

.sidebar img {
    width: 50%;
    height: auto;
    border-radius: 30%;
}

/*bringing the main header close to the <p> element>*/
header h1 {
    margin-bottom: -25px;
}

/*small componets*/

.head-tag {
    padding: 15px 0;
    margin: -40pxS 0 30px;
    font-size: 12px;
    font-weight: 500;
}

.post {
    margin-bottom: 50px;
}

.post-meta {
    color: #999;
    padding: 10px 0;
    border-top: 1px solid #BBB;
}

.post-heading {
    letter-spacing: -2px;
}
.clearfix {
    overflow: hidden;
}

.clearfix::before {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}